<h1>Users/Sign IN</h1>
<form action="/users/create-session" method="post" >
    <!-- <input type="text" name="name" placeholder="Your Name" required> -->
    <input type="email" name="email" placeholder="Your Email" required>
    <input type="password" name="password" placeholder="Password" required>
    <!-- <input type="password" name="confirm_password" placeholder="Confirm Password" required> -->
    <input type="submit"  value="sign in">
</form>